.panel-table-wrapper {
    height: 300px;
    display: block;
    overflow-y: scroll;
}

.input-group-wrapper {
    height: 45px !important;
}

::ng-deep {
    .queue-dropdown-wrapper {
        .p-dropdown {
            width: 100% !important;
            border: 0;
        }
    }
}